
html, body{
	font-family: 'Raleway', sans-serif;
	font-size: 100%;
	background: #FFf;
}
body a {
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
 text-decoration:none;
}

h1,h2,h3,h4,h5,h6{
	margin:0;
 font-family: 'Candal', sans-serif;
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*--start-header--*/
.header-top {
  padding: 2em 0em 0 0;
}
 .logo {
  text-align: center;
}
.logo  a h1{
  font-size:9em;
  font-weight: 400;
  color:#34353a;
 font-family: 'Candal', sans-serif;
}
.logo  a h1:hover{
 text-decoration:none;
}
.logo a h1 span {
  color:#b42b36;
}
ul.side_nav{
  position: fixed;
  right: 10%;
  top: 39%;
  z-index: 1;
}
ul.side_nav li{
display:block;
}
ul.side_nav li a{
	width:12px;
	height:12px;
	background:#34353a;
	border:2px solid#34353a;
	border-radius:50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	display:block;
	margin-bottom:1em;
}
ul.side_nav li a:hover{
	background:#53bed6;
	border:2px solid#53bed6;
}
/*--slider--*/
.top-menu {
  /*float: left;*/
  /*margin: 0 auto ;  */
    /*width:140%;*/
  text-align: center;
}
.top-menu ul{
	padding:0;
}
.top-menu ul li{
	display: inline-block;
	margin: 0 15px;
	color: #fff;
	font-weight: 900;
	vertical-align: top;
}
nav a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1em;
}
nav a:hover,
nav a:focus {
	outline: none;
}
/* Effect 16: fall down */
.cl-effect-16 a {
	color: #6f8686;
	text-shadow: 0 0 1px rgba(111,134,134,0.3);
}
.cl-effect-16 a::before {
	  color: #fff;
	content: attr(data-hover);
	position: absolute;
	opacity: 0;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	-webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}

.cl-effect-16 a:hover::before,
.cl-effect-16 a:focus::before {
	-webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	-moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	opacity: 1;
}
.top-menu ul li a{
   text-decoration: none;
  color: #34353a;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0;
  margin: 0 auto;
}
.top-menu ul li a:hover,.top-menu ul li a.active{
	  color: #fff;
}


/*--nav-responsive--*/
@media only screen and (max-width :800px) {
	span.menu {
	   width: 35px;
  height: 35px;
  background: url(../images/nav.png)no-repeat 0px 0px;
  display: inline-block;
  float: left;
  cursor: pointer;
  margin: 0px 0px;
	}
	.top-menu {
		float: none;
		margin-top: 0em;
	}
	.top-menu  ul{
		display:none;
	}
	.top-menu  ul li {
		  display: block;
		  margin-right: 0;
		  margin: 6px 0;
	}
	.top-menu  span.menu{
		display:block;
	}
	.top-menu  ul{
	  margin: 53px 0;
	  padding: 2% 0;
	  z-index: 999;
	  position: absolute;
	    width: 93.5%;
	  background:#53bed6;
	  text-align: center;
	  margin-left: -2.3em;
	}
	.top-menu li a {
	  padding: 0.5em;
	  font-weight: 400;
	  font-size:0.9em;
	  }
	.logo {
		margin-top: 0.7em;
	}
	.top-menu ul li a {
	  font-size: 0.9em;
	  padding: 6px 0;
	}
}
/*--start-banner--*/
.banner {
  background: #f6608a;
  min-height: 730px;
}
.banner-info {
  margin-top: 10em;
}
.banner-info p {
   font-size: 0.9em;
  font-weight: 400;
  color: #fff;
  line-height: 2em;
  width: 80%;
  margin: 1% auto 0;
  text-align: center;
}
.scroll-down h4{
  color: #fff;
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 10px;
}
.scroll-down a span{
background:url(../images/down.png) no-repeat 0px 0px;
height:32px;
width:32px;
display:inline-block;
}
.scroll-down {
  margin: 12% auto 0;
  text-align: center;
}

/*--welcome--*/
.copy {
   text-align: center;
    background:#53bed6;
    padding: 1em 1em;
  }
.copy p {
  color: #fff;
  font-size:0.9em;
}
.copy p a {
   color:#fff;
}
.copy p a:hover{
	 text-decoration: underline;
}
/*----top-move------*/
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  width: 40px;
  height: 22px;
  border: none;
  text-indent: 100%;
  background: url(../images/move-top.png) no-repeat 0px 0px;
}








